<div>
  <p>Custom Instance</p>
  <div class="custom">
    Inside
    {% verbatim %}
      Test this {{message}}
    {% endverbatim %}
  </div>

  <div class="custom">
    Inside
    {% verbatim %}
      Test this {{message}}
    {% endverbatim %}
  </div>

  <p>Vue SFC</p>
  <div id="app"></div>


</div>
