<div>
  <h1>Inline Vue Instance</h1>
  <div class="v-instance">
    Instance 1 -
    {% verbatim %}
      Test 1: {{message}}
    {% endverbatim %}
  </div>

  <div class="v-instance">
    Instance 2 -
    {% verbatim %}
      Test 2: {{message}}
    {% endverbatim %}
  </div>

  <h1>Multiple Vue SFC instances</h1>
  <div class="sfc-instance">SFC Instance 1 - Not Rendered</div>
  <div class="sfc-instance">SFC Instance 2 - Not Rendered</div>

  <h1>Single Vue SFC</h1>
  <div id="app"></div>

</div>
