<div>
  <h1>Vite Demo</h1>
  <p>This page is being hijacked specifically to show local development via:
    <a href="https://vitejs.dev/">https://vitejs.dev/</a></p>

  <h2>Inline Vue Instance</h2>
  <div class="v-instance">
    Instance 1 -
    {% verbatim %}
      Test 1: {{message}}
    {% endverbatim %}
  </div>

  <div class="v-instance">
    Instance 2 -
    {% verbatim %}
      Test 2: {{message}}
    {% endverbatim %}
  </div>

  <h2>Multiple Vue SFC instances</h2>
  <div class="sfc-instance">SFC Instance 1 - Not Rendered</div>
  <div class="sfc-instance">SFC Instance 2 - Not Rendered</div>

  <h2>Single Vue SFC</h2>
  <div id="app"></div>

</div>
